body {
    font-family: arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

button {
    font-family: arial, sans-serif;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
}
.container1 {
    text-align: center;
    width: 80%;
    font-size: 1rem;
    margin: 0 auto;
}
nav {
    background-color: #222;
    padding-bottom: 15px;
    padding-top: 15px;
}
nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

#logo {
    font-weight: bold;
    font-size: 1.2em;
}

.footer {
    padding-top: 20px;
    padding-right: 5px;
    text-align: right;
    color: #666666;
    font-style: italic;

}

/* table styles */
/* https://www.w3schools.com/html/html_tables.asp */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td  {
    border: 1px solid #dddddd;
    text-align: left;
    /*padding: 8px;*/
    padding: 5px 5px 5px 5px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    /*padding: 8px;*/
    padding: 5px 5px 5px 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: .50rem .75rem;
    line-height: 1.25;
    color: #000000;
    background-color: #dddddd;
    background-image: none;
    background-clip: padding-box;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

/* Buttons */
/* https://www.w3schools.com/css/css3_buttons.asp */

.btn {
     background-color: #DDDDDD;
     border: none;
     color: black;
     padding: 5px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     border-radius: 2px; /* https://www.w3schools.com/css/css3_borders.asp */
     box-shadow: 1px 1px 1px #777777;
     -webkit-transition-duration: 0.1s; /* Safari */
     transition-duration: 0.1s;
 }


.btn-green {
    background-color: #4CAF50;



}

/* Green */
.btn-details {
    background-color: #555555;
}

/* Black */
.btn-blue {
    background-color: #008CBA;
}

/* red */
.btn-red {
    background-color: #f44336;
}

/* Red */

.btn:hover {
    box-shadow: 2px 2px 2px #888888;
}

.btn-black{
    background-color: #222222;
    color: red;
}
.btn-pink{
    background-color: pink;
    color: white;
}
.btn-lilleknap{
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
}
#moviename:hover{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.w {
    width: 80%;
}

/* input fields */