<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="content">
            <form method="post" >
            <table>
                <thead>
                <tr>
                    <td>
                        <input class="btn" type="button" value="Time">
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="showing : ${allshowings}">
                    <td th:text="${showing.showingDateTime}"></td>
                    <td th:text="${showing.cinemaId}"></td>
                    <td th:text="${showing.remainingSeats}"></td>
                    <td>
                        <button type="submit" formaction="/reseverside" name="showing_id" th:value="${showing.showingId}">Vælg Visning</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
    </body>
</html>