<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="../static/css/Test.css">
    </head>
    <body>
        <div class="content">
            <table>
                <!--<h1 th:text="${}"></h1>-->
                <tr>
                    <td>
                        <input class="btn" type="button" value="Time">
                    </td>
                </tr>
                <tr th:each="${showing : allShowings}">
                    <td th:text="{{showing.time}}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>