<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KinoXP</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div class="container">
    <form method="post">
        <table id="myTable">
            <thead>
                <tr>
                <th><input type="button" value="Navn" onclick="sortTable(this.value)"></th>
                <th><input type="button" value="Genre" onclick="sortTable(this.value)"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${allmovies}">
                    <td>
                        <button type="submit" formaction="/allshowings" name="movie_id" th:value="${movie.id}" th:text="${movie.name}"></button>
                    </td>
                    <td th:text="${movie.genre}"> </td>
                    <td><img th:src="${movie.img}" height="60"></td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
        <form method="get">
         <button type="submit" formaction="/tilføj">Tilføj film</button>
        </form>
</body>
</html>