<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
<div class="container">

<h1>Kino XP</h1>

    <h4>Vælg genre</h4>


    <form action="/actionliste" method="get">
        <input type="submit"value="Action" class="btn btn-red">
    </form>

    <br>

    <form action="/horrorfilmoversigt" method="get">
        <input type="submit"value="Horror" class="btn btn-black">
    </form>

    <br>


    <form action="/romancelist"method="post">
        <input type="submit"value="Romance" class="btn btn-pink">
    </form>

    <br>

    <form action="/scifiliste" method="get">
        <input type="submit"value="Sci-fy" class="btn btn-blue">
    </form>

    <br>

    <form action="/filmlist" method="get">
        <input type="submit"value="Se alle" class="btn btn-green">
    </form>




</div>

</body>
</html>