<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<script th:inline="javascript">
    function myFunction() {
        alert("Hej! Reservationen er gennemført!");
    }
</script>

<body>
    <div class="container">

        <h3>Film: <span th:text="${movie.name}"></span></h3>

        <h2>Tid: <span th:text="${showing.showingDateTime}"></span></h2>

        <form method="post">
            <input type="text" name="customer_name" th:value="${customer.name}" placeholder="Navn" required>
            <input type="tel" name="customer_phone" th:value="${customer.phone}" placeholder="Telefon Nr" required>
            <input type="text" name="customer_seat" th:value="${customer.seat}" placeholder="Antal Sæder" required>
            <button type="submit" onclick="myFunction()" formaction="/successfulreservation" name="showing_id" th:value="${showing.showingId}">Reserver Billet</button>

        </form>





</div>
</body>
</html>