<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <div class="container">

        <h3>Film</h3>

        <form method="post"></form>
<table>

    <thead>
    <tr>
     <th>Visningstid</th>
    </tr>

    </thead>
    <tbody>

    <tr th:each="showing : ${}">
        <td th:text="${showing.showingDateTime}"></td>
        <td>
            <button type="submit" name="showing_id" th:value="${showing.showingId}">Vælg Visning</button>
        </td>
    </tr>

</tbody>
</table>


</div>
</body>
</html>