<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <div class="container">

        <h3>Film <span th:text="${movie.name}"></span></h3>

        <h2>Tid <span th:text="${showing.showingDateTime}"></span></h2>

        <form method="post">
        <input type="hidden" name="reservation" th:value="reservation_id">
            <input type="text" name="">



         th:text="${showing.showingDateTime}">

        <button type="submit" name="showing_id" th:value="${showing.showingId}">Vælg Visning</button>

        </form>





</div>
</body>
</html>