<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
<div class="container">

    <form method="post">
        <input type="text" name="movie_name" placeholder="Navn" required>
        <input type="text" name="movie_genre" placeholder="Genre" required>
        <input type="text" name="movie_img" placeholder="Img" required>

        <button type="submit" >Tilføj film</button>

    </form>





</div>
</body>
</html>
</body>
</html>